<log4net>

  <!-- Appender para gravar logs no filesystem-->
  <appender name="DateFileAppender" type="log4net.Appender.RollingFileAppender">
    <!--<encoding value="utf-8" />-->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <file value=".\\log\\"/>
    <staticLogFileName value="false"/>
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="&quot;.\\&quot;yyyy&quot;\\&quot;MM&quot;\\dia_&quot;dd&quot;.xml&quot;" />
    <lossy value="false" />
    <bufferSize value="1" />
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
      <locationInfo value="true" />
    </layout>
  </appender>

  <!-- Appender para gravar logs no Banco-->
  <!-- Appender para gravar logs no Banco-->
  <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionStringName value="PainelConnectionString" />
    <commandText value="INSERT INTO TAB_LOG ([Date],[Thread],[Source],[Level],[Logger],[Message],[Exception],[HostName],[Conteudo],[RequestId],[Sistema], [VersaoSistema]) VALUES (@log_date, @thread, 'LOG SOURCE',@log_level, @logger, @message, @exception, @hostname, @conteudo, @requestId, @sistema, @versaoSistema)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@hostname" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@conteudo"/>
      <dbType value="String" />
      <size value="-1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{Conteudo}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@requestId"/>
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{RequestId}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@sistema"/>
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="SOMOS.PAINEL.EXTERNO.API" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@versaoSistema"/>
      <dbType value="String" />
      <size value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="v1.0" />
      </layout>
    </parameter>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>
  </appender>


  <!-- Appender para enviar e-mail nos niveís ERROR e FATAL-->
  <appender name="SmtpAppender_ERROR_FATAL" type="AEUtil.Log4net.Appender.SmtpCustom">
    <to value="adauto.barros@somoseducacao.com.br;silene.wakabayashi_AllEasy@abrileducacao.com.br;wiliam.janez@somoseducacao.com.br" />
    <from value="naoresponder@abrileducacao.com.br" />
    <lossy value="false" />
    <bufferSize value="1" />
    <subjectLayout type="log4net.Layout.PatternLayout">
      <conversionPattern value="E-mail de Log - Painel - %-5level"/>
    </subjectLayout>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="Nível do log: %-5level%newline%message%newlineExceção:%newline%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>

  <!-- Appender para enviar e-mail em casos especiais-->
  <appender name="SmtpAppender_Especial" type="AEUtil.Log4net.Appender.SmtpCustom">
    <to value="adauto.barros@somoseducacao.com.br" />
    <from value="naoresponder@abrileducacao.com.br" />
    <lossy value="false" />
    <bufferSize value="1" />
    <subjectLayout type="log4net.Layout.PatternLayout">
      <conversionPattern value="E-mail de Log (Especial) - Painel - %-5level"/>
    </subjectLayout>

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="Nível do log: %-5level%newline%message%newlineExceção:%newline%newline" />
    </layout>

    <!--
      ================================================= FILTRO_ESPECIAL_inicio ====================================================
      Se precisar mandar um log de algum nível especial ou de algum ponto especial do projeto, utilize as linhas comentadas a baixo
      -->
    <!--<filter type="AE.PainelEscola.WebApi">
                      <stringToMatch value="PortalLiteratura" />
                    </filter>
                    <filter type="log4net.Filter.LevelMatchFilter">
                      <levelToMatch value="INFO" />
                    </filter>-->
    <!--
      ================================================= FILTRO_ESPECIAL_FIM ====================================================
      -->
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>

  <!-- Appender para imprimir no console-->
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <!--<appender-ref ref="ConsoleAppender" />-->
    <!--<appender-ref ref="DateFileAppender" />-->
    <appender-ref ref="SmtpAppender_ERROR_FATAL" />
    <appender-ref ref="ADONetAppender" />
    <appender-ref ref="aiAppender" />
    <!--<appender-ref ref="SmtpAppender_ERROR_FATAL" />-->
    <!--<appender-ref ref="SmtpAppender_Especial" />-->
  </root>
</log4net>